[run]
source = src
omit = src/tests/**, src/tests/__init__.py, src/tests/sql_commands_test.py, src/database.db, src/index.py, src/schema.sql, src/UI.py, src/activities_UI.py, login_UI.py, register_UI.py, sportstracker_UI.py, edit_activities_ui.py, new_activities_ui.py
